/* index.css */

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

*{
    margin: 0;
    padding: 0;
}
#root{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
#signUpForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 20%;
}

label {
    /* display: block; */
    font-size: 20px; /* Increase font size */
    font-weight: bold; /* Increase font weight */
  }
  
input[type="email"],
input[type="password"] {
  width: 400px;
  height: 20px;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 8px ;
  border-width: 1px;
  box-shadow: #808080;
}

button{
    align-self: center;
    /* justify-content: space-around; */
    width: 80px;
    height: 35px;
    background-color:#0866FF;
    border-radius: 8px; 
    color: white;
    margin-top: 10px;
    margin-left: 170px;
    border-color: #0866FF;
    border-width: 1px;
}

input[type="email"].error,
input[type="password"].error {
  border-color: red; /* Red border for error state */
  border-width: 1px;
}

input[type="email"].success,
input[type="password"].success {
  border-color: green; /* Green border for success state */
  border-width: 1px;
}

.error {
  color: red;
}

.success {
  color: green;
}